<div layout="column" class="pad-sm" flex>
  <div layout="row" fxFill="true">
    <mat-card flex="20%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{'example' | translate}}</mat-card-title>
        <mat-card-subtitle>{{'example description' | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          KPI INSERE
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card flex="20%">
      <mat-card-content>
        <p>
          NEW SERIES
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card flex="20%">
      <mat-card-content>
        <p>
          LAST TICKETS
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div layout="row">
    <mat-card flex="20%">
      <mat-card-content>
        <p>
          RESSOURCES CENTER
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card flex="20%">
      <mat-card-content>
        <p>
          QUICK LINKS
        </p>
      </mat-card-content>
    </mat-card>
    <div flex="20%"></div>
  </div>
</div>
