.container-catalogue {
  position: relative;
  margin-left: 1%;
}

.btn-catalogue {
  margin-left: 30%;
}

.container-services {
  position: relative;
  margin-left: 70%;
}

.btn-services {
  margin-right: 30%;
  float: right;
}

.notifications-section {
  width: 80px;
  padding-right: 10px;
  position: relative;
}

@media (max-width: 600px) {
  .forDesktop {
    display: none;
  }
  .sidenavMobile {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .forMobile {
    display: none;
  }
}
