<div layout="row" layout-align="start center" flex>
  <mat-icon class="mat-icon-logo cursor-pointer" svgIcon="logo" hide-xs></mat-icon>

  <p>user-header works</p>

  <td-notification-count positionX="after" positionY="top" [notifications]="1">
    <mat-icon>notifications</mat-icon>
  </td-notification-count>
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="pad-right-sm">
    <button mat-icon-button *ngIf="isLogged()" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </span>

</div>