nav {
  border-bottom: none;
  margin-right: 20px;
}

nav a {
  min-width: 100px !important;
  color: white;
}

.btn-nav {
  width: 80%;
  position: relative;
}

.options-section {
  width: 180px;
  padding-right: 10px;
  position: relative;
}

.notifications-section {
  width: 80px;
  padding-right: 10px;
  position: relative;
}

@media (max-width: 600px) {
  .forDesktop {
    display: none;
  }
  .sidenavMobile {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .forMobile {
    display: none;
  }
}
